.icon-graduation-cap {
  background: url("../img/icon/graduation-cap.png") !mportant;
  background-size: cover;
}

.img-fluid {
  height: 400px !important;
}

.timeline-photo {
  width: 400px;
  height: auto;
}
